*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    
}

header nav {
    background: white;
    height: 90px;
    width: 100%;
    border: 1px solid white;
    box-shadow: 0 10px 12px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    
}
header nav span{
    color: crimson;
}
nav h2{
    margin-top: -115px;
    margin-left: 120px   ;
}
nav h4{
    font-size: 17px;
    float: right;
    margin-right: -700px;
    color: black;
    margin-top: -27px;
}
nav h4:hover{
    color: crimson;
}
nav a i{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    float:right;
    margin-top: -35px;
    margin-right: -650px;
}
img {
    height: 160px;
    width: 160px;
    padding: -10px;
    margin-top: -15px;
    margin-left: 1px;
    cursor: pointer;
}
nav ul {
    float: right;
    margin-right: 130px;

}


nav ul li {
    display: inline-block;
    line-height: 90px;
    margin: 0 25px;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    color: red;
}
.head{
    padding-top: 100px;
    text-align: center;
    color: red;
    margin-top: 50px;
}
form input,select{
    margin: 1px 650px;
    padding: 4px;
    display: block;
    align-items: center;   
     
}
form h1{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    
}
#hi{
    margin-left:650px ;
}
.error-msg {
        color: red;
        font-size: 0.9em;
        display: none;
        text-align: center;
        
    }

#update{
    margin-top: 20px;
    background-color: crimson;
    color: wheat;
    border: none;
    font-size: 18px;
    padding: 6px;
    margin-left: 700px;
}
#update:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}