*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(wall.jpg);
}

.form-container {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 135px auto;
    width: 300px;
    box-shadow: 0 8px 12px 2px rgba(0, 0, 0, 0.2);
   
}

.form-container form {
    padding: 1px;
    margin: 2px;
    
    
}
.form-container form h1{
    margin-bottom: 18px;
    text-transform: uppercase;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid black;
    background: transparent;
    
}
input:focus{
    outline: none;
}
.input-password { 
    position: relative; 
    width: 100%; 
    margin-bottom: 15px;
}

.input-password .toggle-password{
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}
        


.form-container form p a{
    text-decoration: none;
    color: red;
}
.form-btn{
    color: white;
    background-color: rgb(190, 0, 0);
    border: 1px solid rgb(190, 0, 0);
    padding:10px;
    border-radius: 28px;
}
.form-btn:hover{
    background-color: rgb(128, 52, 52);
    border: 1px solid rgb(128, 52, 52);
    transition: 0.3s;
    cursor: pointer;
}
.form-container form .error-msg {
    margin: 1px 0;
    
    background: none;
    color: red;
    border-radius: 5px;
    font-size: 12px;
    float: left;
    margin-top: -13px;
    margin-bottom: 15px;
}
a img{
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: -210px;
    cursor: pointer;
}


